<%= form_with model: @event do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :story %><br>
    <%= form.text_area :story %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>